<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677805438786-emkvbebc5g7q3lrjov8q0hn6u0thef7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677805438786-emkvbebc5g7q3lrjov8q0hn6u0thef7q</string>
	<key>API_KEY</key>
	<string>AIzaSyBw8UveMKVMXxk4c21sZ64ZygxJHl4Pyfg</string>
	<key>GCM_SENDER_ID</key>
	<string>677805438786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedrodev.rocketHelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelpmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelpmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677805438786:ios:d8edea9fd2a6c77eeb3adb</string>
</dict>
</plist>